@import '~design-system/dist/scss/wds-variables/index';

.card-game-dialog {
	bottom: 25px;
	border-color: #0c0c0c;
	right: 0;
	display: none;
	flex-direction: column;
	position: fixed;
	width: 100%;
	z-index: 1000;

	&__wrapper {
		width: 100%;
		background: #bed1cf;
		border: solid;
		border-color: $wds-color-link;
		margin: 0 0 auto auto !important;
	}

	&__title {
		font-family: $wds-fandom-font-family;
		font-weight: $wds-font-weight-bold;
	}

	&__icon {
		width: 50px;
		margin-left: 10px;
	}

	&__card {
		height: 150px;
	}

	&__content {
		font-family: $wds-fandom-font-family;
		font-size: $wds-font-size-base;
		line-height: 24px;
		a {
			color: $wds-color-link !important;
		}
	}

	&__close-wiki-dialog-footer {
		margin-right: 10px;
	}

	.wds-button-red {
		background-color: red !important;
	}

	.wds-button-disabled {
		background-color: grey !important;
	}
}
