.card-game-blurred-image{
    filter: blur(5px);
}

td {
    border: 1px solid black;
}

table {
    border-spacing: 15px;
    display: inline-block;
    margin-left: 10%;
    float: top;
}

#card-game-card-text-main {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

#card-game-card-text-description {
    margin-top: 2px;
    text-align: center;
}
