.cards-game-main-div {
    margin-left: 80px;
}

.card-game-blurred-image{
    filter: blur(5px);
}

.card-game-image:hover {
    transform: scale(1.1);
}

.card-game-blurred-image:hover{
    filter: blur(2px);
    transform: scale(1.1);
}

.cards-game-td {
    margin: 5px;
    background-color: #ebebeb;
    width: 200px;
    display: inline-block;
}

#card-game-card-text-main {
    font-family: "Tahoma", Geneva, sans-serif;
    font-size: 115%;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

#card-game-card-text-description {
    font-family: "Tahoma", Geneva, sans-serif;
    margin-top: 2px;
    text-align: center;
}
